@import "./main-style"
.header
	background-image: url("../img/header-background.svg")
	background-repeat: no-repeat
	height: 70%
	background-position: top right
	background-size: 70%
	overflow: hidden
	padding: 0 10%
	margin-bottom: 150px
	p
		width: 50%
	.title-red
		font-size: 32px
		line-height: 122%
		margin-bottom: 36px
	.title-green
		font-size: 40px
		line-height: 122%
		margin-bottom: 30px
		text-transform: capitalize
	.text
		font-size: 24px
		line-height: 190%
		margin-bottom: 54px
	button
		max-width: 250px
		max-height: 80px
		box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1)
		border-radius: 65px
		background-color: $primary
		color: #FFFFFF
		font-family: 'Gelion-Bold'
		font-size: 24px
		line-height: 29px
		padding: 24px 60px
@media screen and (max-width: 550px)
	.header
		padding: 0 5%
@media screen and (max-width: 767px)
	.header
		background-position: bottom center
		background-size: 100%
		height: 83vh
		margin-bottom: 50px
		min-height: 83vh
		padding: 0 15%
		p
			width: auto
		.title-red
			margin: 10px 0
			font-size: 22px
		.title-green
			font-size: 30px
		.text
			font-size: 18px
			margin-bottom: 20px
		button
			max-width: 165px
			max-height: 43px
			font-size: 14px
			line-height: 43px
			padding: 0 30px
