$primary: #FB4C47
$secondary: #FA5652
$green: #035755
$text: #4B4F51
@font-face
	font-family: 'Gelion-Bold'
	src: url("../fonts/Gelion-Bold.ttf")
@font-face
	font-family: 'Gelion-SemiBold'
	src: url("../fonts/Gelion-SemiBold.ttf")
@font-face
	font-family: 'Gelion-Medium'
	src: url("../fonts/Gelion-Medium.ttf")

@font-face
	font-family: 'Gelion-Regular'
	src: url("../fonts/Gelion-Regular.ttf")

@font-face
	font-family: 'RedHatDisplay-Bold'
	src: url("../fonts/RedHatDisplay-Bold.ttf")

body, html, #root
	background: #FFFDFD
	margin: 0
	height: 100%
	width: 100%
button
	border: none
.title-green
	color: $green
	font-family: 'RedHatDisplay-Bold'
.title-red
	color: $secondary
	font-family: 'RedHatDisplay-Bold'
.text
	color: $text
	font-family: 'Gelion-Regular'
.block
	& > p
		text-align: center
	& > .title-red
		font-size: 29px
		line-height: 1.24
		margin-bottom: 25px
	& > .title-green
		font-size: 40px
		margin-bottom: 20px
	& > .text
		font-size: 18px
		line-height: 2.15
		text-transform: capitalize
		width: 50%
		margin: 0 auto

.content
	width: 50%



