@import "main-style"

.navigation
	&__logo
		display: flex
		align-items: center
		img
			margin-right: 14px
			min-width: 63px
			min-height: 63px
		span
			color: $green
			font-family: 'RedHatDisplay-Bold', sans-serif