.prevention
	padding: 0 10%
	&__block
		display: flex
		justify-content: space-between
		align-items: center
		padding-left: 120px
		&:nth-of-type(2n)
			flex-direction: row-reverse
			padding-left: 0
			img
				margin-right: 190px
				margin-left: 0
		img
			max-width: 555px
			max-height: 574px
			margin-left: 190px

		&__text
			div
				display: inline-block
				max-width: 75px
				max-height: 75px
				min-width: 75px
				min-height: 75px
				background-color: rgba(250, 86, 82, 0.15)
				border-radius: 50%
				font-size: 44px
				line-height: 75px
				color: #FA5652
				text-align: center
				margin-left: -120px
				margin-right: 45px
			.title-green
				font-size: 47px
				line-height: 1.47
				text-transform: capitalize
				display: inline-block
			.text
				font-size: 18px
				line-height: 2.21
				text-transform: capitalize
@media screen and (max-width: 550px)
	.prevention
		padding: 0 5%
@media screen and (max-width: 1100px)
	.prevention
		padding: 0 15%
		&__block
			display: block
			padding-left: 0
			margin-bottom: 20px
			&:nth-of-type(2n)
				img
					margin-right: auto
					margin-left: auto
			img
				max-width: 250px
				width: 100%
				max-height: 250px
				display: block
				margin: 0 auto
			&__text
				div
					display: inline-block
					max-width: 75px
					max-height: 75px
					min-width: 75px
					min-height: 75px
					font-size: 44px
					line-height: 75px
					margin-right: 20px
					margin-left: 0
				.title-green
					font-size: 20px
					text-transform: capitalize
					display: inline-block
				.text
					font-size: 16px
					line-height: 2.21
					text-transform: capitalize